<h1>Ingredient</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<% if current_user %>
<p>
  <% if current_user.has_ingredient?(@ingredient) %>
    <%= link_to "Remove from my Collection", user_ingredient_path(current_user, @ingredient), method: :delete %>
  <% else %>
    <%= link_to "Add to my Collection", user_ingredients_path(current_user, id: @ingredient.id), method: :post %>
  <% end %>
</p>
<% end %>

<p>
  <strong>Cocktails:</strong>
  <ul>
    <% @ingredient.cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
